# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json

# Logs
*.log

# Coverage
.coverage
htmlcov/
.pytest_cache/
